
 
<!--la liste des employés -->
<div class="d-flex justify-content-around sticky-top">
  <div class="d-flex justify-content-between align-items-center" style="width: 94%;">
      
          <mat-form-field>
              <mat-label> ID Client / Nom </mat-label>
              <input matInput (keyup)="applyFilter($event.target.value)" />
          </mat-form-field>
      
      <div>
          
          
        <button class="btn btn-primary" (click)="openDialog1(element)">Ajoute Un Personne</button>
      </div>
  </div>
  
</div>

<div class="d-flex justify-content-around">
  <div style="width: 100%;">
      <table mat-table [dataSource]="datasource" class="mat-elevation-z8">

          <ng-container matColumnDef="idCli">
              <th mat-header-cell *matHeaderCellDef>
                  <div>
                      Num Client
                  </div>
              </th>
              <td mat-cell *matCellDef="let element">
                  <div>{{element.idCli}} </div>
              </td>
          </ng-container>

          <ng-container matColumnDef="nomCli">
              <th mat-header-cell *matHeaderCellDef>
                  <div>
                      Nom
                  </div>
              </th>
              <td mat-cell *matCellDef="let element">
                  <div> {{ element.nomCli }} </div>
              </td>
          </ng-container>
          <ng-container matColumnDef="prenomCli">
              <th mat-header-cell *matHeaderCellDef>
                  <div>
                      Prenom
                  </div>
              </th>
              <td mat-cell *matCellDef="let element">
                  <div>{{ element.prenomCli }} </div>
              </td>
          </ng-container>

          <ng-container matColumnDef="cin">
              <th mat-header-cell *matHeaderCellDef>
                  <div>
                      C.I.N
                  </div>
              </th>
              <td mat-cell *matCellDef="let element">
                  <div>{{ element.cin }} </div>
              </td>
          </ng-container>
         


          <ng-container matColumnDef="supprimer">
            <th mat-header-cell *matHeaderCellDef> supprimer </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button class="btn btn-danger" (click)="suppelement(element.idCli)"> suprimmer</button></td>
          </ng-container>
          <ng-container matColumnDef="modifier">
            <th mat-header-cell *matHeaderCellDef> modifier </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="openDialog(element)"> modifier</button></td>
          </ng-container>
          <ng-container matColumnDef="lister">
            <th mat-header-cell *matHeaderCellDef> lister </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="openDialog2(element)"> lister</button></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
