
<div class="d-flex justify-content-around sticky-top">
    <div class="d-flex justify-content-between align-items-center" style="width: 94%;">
        
            <mat-form-field>
                <mat-label> ID produit / Nom  </mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" />
            </mat-form-field>
        
        <div>
            
            <button class="btn btn-primary" (click)="openDialog1(element)">Ajoute Un Produit</button>
        </div>
    </div>
  </div>
  
  <div class="d-flex justify-content-around">
    <div style="width: 100%;">
        <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
  
            <ng-container matColumnDef="idp">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        ID Produit
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.idp}} </div>
                </td>
            </ng-container>
  
            <ng-container matColumnDef="nomp">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        Nom
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div> {{ element.nomp }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="ref">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        Referance
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{ element.ref }} </div>
                </td>
            </ng-container>
  
            <ng-container matColumnDef="prix">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        PRIX
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{ element.prix }} </div>
                </td>
            </ng-container>
           
  
  
            <ng-container matColumnDef="supprimer">
              <th mat-header-cell *matHeaderCellDef> supprimer </th>
              <td mat-cell *matCellDef="let element"> <button mat-raised-button class="btn btn-danger" (click)="suppelement(element.idp)"> suprimmer</button></td>
            </ng-container>
            <ng-container matColumnDef="modifier">
              <th mat-header-cell *matHeaderCellDef> modifier </th>
              <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="openDialog(element)"> modifier</button></td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  
