
<form [formGroup]="formee"> 
    <div class="d-flex justify-content-around sticky-top">
   
  </div>
</form>
  <div class="d-flex justify-content-around">
    <div style="width: 100%;">
        <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
  
            <ng-container matColumnDef="idC">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        ID Commande
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.idC}} </div>
                </td>
            </ng-container>


            <ng-container matColumnDef="idCli">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        ID Client
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.idCli}} </div>
                </td>
            </ng-container>

  
            <ng-container matColumnDef="idp">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        ID Produit
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.idp}} </div>
                </td>
            </ng-container>


            <ng-container matColumnDef="idUeser">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        ID Usser
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.idUeser}} </div>
                </td>
            </ng-container>
  
            <ng-container matColumnDef="qte">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                       Quantite
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.qte}} </div>
                </td>
            </ng-container>
  
  
            <ng-container matColumnDef="dateDebutGar">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        dateDebutGar
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div> {{ element.dateDebutGar }} </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="dateFinGar">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        dateFinGar
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{ element.dateFinGar }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="supprimer">
              <th mat-header-cell *matHeaderCellDef> supprimer </th>
              <td mat-cell *matCellDef="let element"> <button mat-raised-button class="btn btn-danger" (click)="suppelement(element.idCli)"> suprimmer</button></td>
            </ng-container>
            <ng-container matColumnDef="modifier">
              <th mat-header-cell *matHeaderCellDef> modifier </th>
              <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="openDialog(element)"> modifier</button></td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  