<form [formGroup]="formee"> 
    <div class="d-flex justify-content-around sticky-top">
   
        <div class="d-flex justify-content-between align-items-center" style="width: 94%;">
       
            <mat-form-field>
                <mat-label> ID commmande / Nom </mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" />
            </mat-form-field>

            <mat-form-field >
                <input matInput [matDatepicker]="picker" placeholder="  debut garantie"formControlName="dateDebutGar">
                <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> 
        
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker1" placeholder=" fin garantie"formControlName="dateFinGar">
                <mat-datepicker-toggle matSuffix [for]="picker1"> </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
           
          <div>
            <button type="button" class="btn btn-outline-success" (click)="onSearch()">rechercher</button> 
        
             
           
            <button type="button" class="btn btn-outline-primary" (click)="openDialog1(element)">Commander</button>
            
       
                <button type="button" class="btn btn-outline-warning" (click)="exportAsXLSX()">Exporter</button>
       </div>
    </div>

  </div>
</form>
  <div class="d-flex justify-content-around">
    <div style="width: 100%;">
        <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
  
            <ng-container matColumnDef="idC">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        ID Commande
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.idC}} </div>
                </td>
            </ng-container>


            <ng-container matColumnDef="idCli">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        ID Client
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.idCli}} </div>
                </td>
            </ng-container>

  
            <ng-container matColumnDef="idp">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        ID Produit
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.idp}} </div>
                </td>
            </ng-container>


            <ng-container matColumnDef="idUeser">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        ID Usser
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.idUeser}} </div>
                </td>
            </ng-container>
  
            <ng-container matColumnDef="qte">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                       Quantite
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.qte}} </div>
                </td>
            </ng-container>
  
  
            <ng-container matColumnDef="dateDebutGar">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        dateDebutGar
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div> {{ element.dateDebutGar }} </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="dateFinGar">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        dateFinGar
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{ element.dateFinGar }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="supprimer">
              <th mat-header-cell *matHeaderCellDef> supprimer </th>
              <td mat-cell *matCellDef="let element"> <button mat-raised-button class="btn btn-danger" (click)="suppelement(element.idC)"> suprimmer</button></td>
            </ng-container>
            <ng-container matColumnDef="modifier">
              <th mat-header-cell *matHeaderCellDef> modifier </th>
              <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="openDialog(element)"> modifier</button></td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  