<div class="center">
<mat-card class="log" >
    <!-- <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header> -->
    <mat-card-content >
        <form class="form-signin" [formGroup]="formGroup" (submit)="signin()" >
            <label for="inputEmail" class="sr-only">Username</label>
        
            <mat-form-field class="example-full-width" style="width: 100%;" >
                
                <input class="" matInput placeholder="Username" formControlName="usser">
                
            </mat-form-field>

            <label for="inputPassword" class="sr-only">Password</label>
            <mat-form-field class="example-full-width" style="width: 100%;">
                <input type="password" matInput placeholder="Password" formControlName="passeword">
            </mat-form-field>

            <mat-card-actions>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
         

            </mat-card-actions>
            <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
            <p class="mt-5 mb-3 text-muted">&copy; ADH 2019</p>
        </form>
    </mat-card-content>
</mat-card>
</div>