
<div class ="center">
  <h3 class="card-subtitle mb-2 text-muted" >Espace Commande</h3>
    <form [formGroup]="formee" (submit) ="submit()" >
    <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="debut garantie"formControlName="dateDebutGar">
        <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker1" placeholder="fin garantie"formControlName="dateFinGar">
        <mat-datepicker-toggle matSuffix [for]="picker1"> </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field><br>
     
    <mat-form-field class="example-full-width">
      <textarea matInput formControlName="qte" placeholder="Quantite"></textarea>
  </mat-form-field><br>
  <button mat-button color="primary" type="submit">Save</button>
  <button type="button" mat-raised-button color='accent' (click)="onNoClick()">Annuler</button>  
  </form>
</div>
