<div class="center">
    <h3 class="card-subtitle mb-2 text-muted" >Espace User</h3>
    <form [formGroup]="formee" (submit) ="submit()" >
       

        <mat-form-field class="example-full-width">
            <input type="text" placeholder="choose Role" aria-label="text" matInput formControlName="nomUser" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        
    
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="prenomUser"placeholder="Nom Complet"></textarea>
        </mat-form-field>
    
        
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="usser" placeholder="usser"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
      <input type="password" matInput formControlName="passeword" placeholder="password" >
    </mat-form-field><br>
      
       <button mat-button color="primary" type="submit">Save</button>
      <button type="button" mat-raised-button color='accent' (click)="onNoClick()">Annuler</button>  
    </form>
    </div>
