
<div class="d-flex justify-content-around sticky-top">
        
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="generatePDF()"> Imprimer</button>
        
    </div>
</div>
  <div id="contentToConvert">
  <div class="d-flex justify-content-around">
    <div style="width: 100%;">
        <table mat-table [dataSource]="datasource" class="table-print" id="result" style="width: 90%;">
  
            <ng-container matColumnDef="idUser">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        ID USER
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.idUser}} </div>
                </td>
            </ng-container>
  
            <ng-container matColumnDef="nomUser">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        Nom
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div> {{ element.nomUser }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="prenomUser">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        Prenom
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{ element.prenomUser }} </div>
                </td>
            </ng-container>
  
            <ng-container matColumnDef="usser">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                      USER
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{ element.usser }} </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="passeword">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                      PASSEWORD
                    </div>
                </th>
                <td mat-cell *matCellDef="let element" >
                    <div>{{ element.passeword }} </div>
                </td>
            </ng-container>
        
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
  
         </div>
    </div>
 </div>


  
