<div class="center">
    <h3 class="card-subtitle mb-2 text-muted" >Espace Client</h3>
    <form [formGroup]="formee" (submit) ="submit()" >
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="nomCli" placeholder="Nom"></textarea>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="prenomCli"placeholder="Prenom"></textarea>
        </mat-form-field>
    
        
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="cin" placeholder="cin"></textarea>
        </mat-form-field><br>
      
       <button mat-button color="primary" type="submit">Save</button>
      <button type="button" mat-raised-button color='accent' (click)="onNoClick()">Annuler</button>  
    </form>
    </div>
