.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 80%;
    
  }
  
  .example-full-width {
    width: 80%;
  }
  .center{
    padding: 60px 0;
    margin: auto;
    width: 60%;
    text-align: center;
  }