
<mat-toolbar class="d-flex justify-content-between align-items-center" style="width: 100%;background: white;">
  <img src="assets/image/ADHAM.jpg" alt="" style="height: 80pxpx;width:130px;">
  
</mat-toolbar>
<nav id="nav"class="navbar navbar-expand-lg navbar-light bg-light" >
  
  <a routerLink="" mat-button>
    <img src="assets/image/home.svg" >  Home
</a>

<a routerLink="Espace Client"  mat-button mat-e>
  <img src="assets/image/users.svg" > Espace Client
</a>
<a routerLink="Espace Produit" mat-button>
  <img src="assets/image/package.svg" >Espace Produit
</a>
<a routerLink="Espace Commonde" mat-button>
  <img src="assets/image/clipboard.svg" > Espace Commande
</a>
<a routerLink="Espace User" mat-button>
  <img src="assets/image/lock.svg" > Espace User
</a>
<a mat-button (click)="logOut()">
  <img src="assets/image/log-out.svg">
  Deconnecter
</a>




</nav>

  




<router-outlet></router-outlet>  
