<mat-form-field>
    <input matInput value="Disco party!" placeholder="Message" #message>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput value="Dance" placeholder="Action" #action>
  </mat-form-field>
  
  <button mat-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>
  
