<div class="center">
    <h3 class="card-subtitle mb-2 text-muted" >Espace Produit</h3>
    <form [formGroup]="formee" (submit) ="submit()" >
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="nomp" placeholder="Nom Produit"></textarea>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="ref"placeholder="Ref Produit "></textarea>
        </mat-form-field>
    
        
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="prix" placeholder="Prix"></textarea>
        </mat-form-field><br>
      
       <button mat-button color="primary" type="submit">Save</button>
       <button type="button" mat-raised-button color='accent' (click)="onNoClick()">Annuler</button>  
    </form>
    </div>

