
<div class="d-flex justify-content-around sticky-top">
    <div class="d-flex justify-content-between align-items-center" style="width: 94%;">
        
         <mat-form-field>
                <mat-label> ID user / Nom </mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)"/>
            </mat-form-field>
        
  
            <div>
            
                 <button type="button" class="btn btn-outline-success"(click)="openDialog2(element)">imprimer</button>
         
        
            </div>

        
               
    </div>
    
  </div>
  
  <div class="d-flex justify-content-around">
    <div style="width: 100%;">
        <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
  
            <ng-container matColumnDef="idUser">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        ID USER
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{element.idUser}} </div>
                </td>
            </ng-container>
  
            <ng-container matColumnDef="nomUser">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        Role
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div> {{ element.nomUser }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="prenomUser">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        Nom Complet
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{ element.prenomUser }} </div>
                </td>
            </ng-container>
  
            <ng-container matColumnDef="usser">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                      USER
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div>{{ element.usser }} </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="passeword">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                      PASSEWORD
                    </div>
                </th>
                <td mat-cell *matCellDef="let element" >
                    <div>{{ element.passeword }} </div>
                </td>
            </ng-container>
           
         
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  
